<div class="container txt_container py-5">
	<h2>Terms and Conditions</h2>
	<ol>
		<li><strong>Introduction </strong><span style="font-weight: 400;">These Terms of Use (the
				"Terms") govern your access to and use of topworlddeals.com. By accessing or using our
				site, you agree to be bound by these Terms.</span></li>
		<li><strong>Use of the Site </strong><span style="font-weight: 400;">You agree to use our
				Site only for lawful purposes and in a manner that does not infringe the rights of
				third parties or restrict others' use and enjoyment of the Site.</span></li>
		<li><strong>Intellectual Property </strong><span style="font-weight: 400;">
				All content on this site, including text, images, logos, and designs, are the
				property of TopWorldDeals or its licensors and are protected by copyright and other
				intellectual property laws.</span></li>
		<li><strong>Limitation of Liability </strong><span style="font-weight: 400;">
				TopWorldDeals strives to provide accurate and up-to-date information, but we do not
				guarantee the accuracy, completeness or timeliness of the information on this site.
				We will not be liable for any damages resulting from the use of or inability to use
				our site.</span></li>
		<li><strong>Links to Third Party Sites </strong><span style="font-weight: 400;">Our Site may
				contain links to third party websites. We are not responsible for the content or
				privacy practices of these sites.</span></li>
		<li><strong>Changes to Terms </strong><span style="font-weight: 400;">We reserve the right
				to change these Terms at any time. Any changes will be posted on this page with the
				updated date. Your continued use of the Site after any such changes constitutes your
				acceptance of the new Terms.</span></li>
		<li><strong>Applicable Law </strong><span style="font-weight: 400;">These Terms shall be
				governed by and construed in accordance with the laws in force in Netherlands. Any
				dispute shall be subject to the exclusive jurisdiction of the Netherlands
				courts.</span></li>
		<li><strong>Contact Us </strong><span style="font-weight: 400;">If you have any questions
				regarding these Terms of Use, please contact us at: <a
					href="mailto:info@topworlddeals.com">info@topworlddeals.com</a></span>
		</li>
	</ol>
</div>
<style>
	.txt_container ul {
		list-style: disc;
	}

	.txt_container ol {
		list-style: decimal;
	}

	.txt_container ul,
	.txt_container ol {
		padding: 0 0 0 30px;
		margin: 0 0 1rem 0;
	}

	.txt_container li {
		display: list-item;
		padding-bottom: 10px;
	}
</style>
